a{
    color:red
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:gold;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-items: center;
}
.abc{
    margin:auto;
    font-size: 100px;
    color: white;

}
#whole{
    max-width: 1400px;
    margin: 0 auto;
}

main{
    font-size: 40px;
}

.second{
color: grey;
}
.img1{
    width: 50%;
}

footer{
    text-align: center;
    background-color: gold;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-items: center;
}



.name{
    color: white;
    font-size: 50px;
}

.update{
    color: blue;
    font-size: 40px;
}
