
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

header{
    text-align: center;
    background-color: aqua;
}

header div {
    font-size: 2em;
    background-color: black;
    padding: 20px;
    margin: 40px 0;
}

h1{
   color: white;
}