
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body{
    font-family: 'Lato', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    
}


header div {
    font-size: 2em;
    background-color: rebeccapurple;
    padding: 10px;
    margin: 30px 5;
    text-align: center;
    color: blanchedalmond;
    
}

section {
    text-align: center;
    color: purple;
    background-color: gold;
    padding: 10px;
    margin: 10px;
    border-radius: 55px;
    
}

h1{
    font-size: 30px
}
a {
    color: rebeccapurple;
    font-size: 18px;
}

img {
    border: 5px solid blanchedalmond;
    margin: 30px 0;
    width: 80%
}





footer {
    font-size: 1em;
    background-color: rebeccapurple;
    color: blanchedalmond;
    padding: 10px;
    margin: 30px 5;
    text-align: center;
   
   
}

p{
    text-align: center;
    font-size: 20px;
    margin: 30px;
    color: black;
}

@media screen and (min-width: 600px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    img {
        max-width: 350px;
        width: 60%
    }
    .part3{
        grid-column-start: 1;
        grid-column-end: 3 ;
    
    }
    .part3 img {
        max-width: 550px; 
        width: 200%;
       
    }
}

@media screen and (min-width: 1100px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .part1{
        grid-column: 1/2;
    }
    .part2{
        grid-column: 2/3;
    }
    .part3{
        grid-column: 3/4;
    }
    .part3 img{
        max-width: 350px;
        width: 60%
    }
}