.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

}

h1 {
    text-align: center;
    color: navy;
}

.cards section {
    border: 1px solid navy;
    background-color: lightblue;
    padding: 30px;
    width: 300px;
    margin: 20px;
}

.cards img {
    width: 90%

}