@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.5em;
    }

    img {
        /* float: left; */
        border-radius: 3px;
        box-shadow: -5px 5px 15px rgb(241, 155, 155);
    }

    footer {
        background-color: #88d3f5;
        color: rgb(219, 219, 219);
        text-align: center;
        padding: 1rem;
        border-radius: 1rem;
        font-size: 16px;
    }
}