label, input {
    
        display: block;

    
    }

label {
    margin: 20px 0,0,0;
}

h1{font-size: 50px;}

label, input{
    display: block;
    font-size: 1.5em;
}

label{
    margin-top: 20px;
}
.join{
    display: none;
}

@media screen and (min-width: 1000px){
    #join_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.member-info{
    grid-column: 2/3;
}
}
