

/* hamburger menu / responsive menu */
nav{
    display: flex;
    flex-direction: column;
}

a{
    display: none;
    padding: 15px;
}

a:first-child{
    display:block;
    text-decoration: none;
    font-size: 2em;
}
.responsive a{
    display:block;
}
.midfooter, .largefooter{
    display: none;
}

/* Medium (tablet) media query. All styles in here will only apply to tablet views. */
@media screen and (min-width: 650px){
    a:first-child {
        display: none;
    }
    a{
    display: block;
    }
    nav{
    flex-direction: row;
    }
    .footer-bottom {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    

}

/* Large media query */
@media screen and (min-width: 1000px){

}
