@media only screen and (min-width: 750px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5px;
        font-size: 1.1em;
    }

    nav a {
        display: block;
    }

    #hamburgerBtn {
        display: none;
    }

    #primaryNav {
        flex-direction: row;
    }

    li {
        margin-left: 5vw;
    }

    .date {
        justify-content: center;
    }

    main {
        grid-template-columns: 2fr 1fr;
    }

    #hero {
        border: solid black 1px;
        grid-column: 1/3;
        grid-row: 1/2;
        margin: 5px;

    }

    #events {
        border: solid black 1px;
        grid-column: 1/2;
        grid-row: 5/6;
        margin: 5px;
    }

    #weather {
        border: solid black 1px;
        margin: 5px;
        grid-column: 2/3;
        grid-row: 5/6;
    }

    #news {
        border: solid black 1px;
        grid-row: 2/3;
        grid-column: 1/3;
        margin: 5px;
    }

    #join {
        display: grid;
        border: solid black 1px;
        grid-column: 1/3;
        grid-row: 4/5;
        margin: 5px;
    }

    #trolleytransport1 {
        border: solid black 1px;
        margin: 5px;
    }

    #kayakingclub2 {
        border: solid black 1px;
        margin: 5px;
    }

    .spotlights {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #hongkong1 {
        display: grid;
        width: 100%;
        height: 100%;
    }

    #hongkong {
        display: none;
    }
    #hongkong3 {
        display: none;
    }

    #discover{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #canalboat{
        grid-column:1/2;
        grid-row: 1;
    }

    #golf{
        grid-column: 2/3;
        grid-row: 1;
    }

    #museum{
        grid-column:1/2;
        grid-row: 2;
    }

    #kayaking{
        grid-column:2/3;
        grid-row:2;
    }

    #schurch{
        grid-column:1/2;
        grid-row:3;
    }

    #discover img:hover{
        box-shadow: 5px 5px 10px #6f7364;
    }

    #days-visits{
        grid-column: 1/3;
        text-align: center;
    }

     /* Directory CSS */
     #directory td{
        padding: 5px;
        display: table-cell; /*media query use table-cell*/
    }

}